.bookcard {
  width: 25%;
  height: 20%;
  margin: 10px;
  padding: 10px;
  background-color: #005457;
  border-radius: 10px;
}
.info {
  height: 12rem;
}
.inforow {
  padding-right: 2px;
  padding-bottom: 2px;
  margin: 2px;
  font-weight: 500;
  font-size: small;
  color: #2ec7cd;
}
.title {
  padding-right: 2px;
  padding-bottom: 2px;
  margin: 2px;
  font-weight: 600;
  font-size: large;
  color: #2ec7cd;
}
.container {
  width: 70rem;
  height: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
body {
  width: 100%;
  padding-bottom: 10rem;
  background-color: inherit;
}
.bookimage {
  width: 90%;
  height: 15rem;
}
h4 {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #005457;
  border-top: 2px solid #005457;
}
