.ordercontainer {
  width: 100%;
  height: 18rem;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #005457;
}
.info {
  display: flex;
  padding: 5px;
  margin: 5px;
}
.infocontainer {
  width: 15rem;
  height: 4rem;
  padding-right: 2rem;
}
.detailcontainer {
  display: flex;
}
.ordertitle {
  padding: 10px;
  border-bottom: 2px solid #005457;
}
